<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998859082855-al1ntgkhmk2gigiaub9vsuq8no6doks3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998859082855-al1ntgkhmk2gigiaub9vsuq8no6doks3</string>
	<key>API_KEY</key>
	<string>AIzaSyDnqtsZS6g63_oN0ivOBtTd9d5amSgKegY</string>
	<key>GCM_SENDER_ID</key>
	<string>998859082855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>univer-db730</string>
	<key>STORAGE_BUCKET</key>
	<string>univer-db730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998859082855:ios:f71553aa50af9e248bd8c2</string>
</dict>
</plist>